/* 
.item__image {
    margin: 0;
}


.item__detail {
    margin: 0;
} */
.review__title {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}



.item__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.item__top {
    display: flex;
    justify-content: space-between;
}

.item__quantity {
    text-align: left;
}

.item__delete {
    display: flex;
}

.button__delete {
    padding:0 !important;
    color: #00A8E8 !important;
}


.item {
    padding-top: 40px;
    padding-bottom: 40px;
}

.item:first-child {
    padding-top: 40px;
}



.subtotal {
    display: flex;
    justify-content: space-between;
}

.shipping {
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
}

.voucher {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
}


.review__checkout {
    display: flex;
    flex-direction: column;
    
}

.review__checkout  .review__button {
    background-color: #42F2CB;
    color: #000;
    border: none;
    height: 48px;
    border-radius: 10px;
    width:100%;
}

.review__checkout  .review__pay {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    margin-top: 20px;
    height: 48px;
    width: 100%;
}



.fixed {
    position: fixed;
    width: 300px;
}

.review {
    min-height: 90vh;
}







