.order {
    margin: 40px 0px;
    background-color: #fff;
    padding: 40px;
}
.order__header {
    border-bottom: 1px solid #000;
}

.header__time {
    text-align: left;
}

.order__id {
    color: blue;
}

.order__date--time,
.order__date--address,
.order__date--receiver,
.order__date--phone {
    color: #6f6b6b;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.order__list--header {
    display: flex;
    justify-content: flex-start;
    /* padding: 20px; */
    margin-top: 20px;
    font-weight: 700;
}

.header__status {
    /* color: blue; */
}

.item__comment {
    color: blue;
}

.item__image {
    width: 100%;
    cursor: pointer;
}

.order__detail {
    margin-top: 30px;
}

.item__title {
    text-align: left;
}
