@import "node_modules/bootstrap/scss/bootstrap";

.detail {
    @extend .mt-0, .mx-2;
    text-align: left;
    color: black;
    &__header {
        @extend .mb-2;
        font-weight: 500;
        font-size: 2em;
        margin-right: 2em;
    }
}

.comment {
    @extend .mt-0, .mx-2;
    text-align: left;
    color: black;
    &__header {
        @extend .mb-2;
        font-weight: 500;
        font-size: 2em;
        margin-right: 2em;
    }
}
