@import "node_modules/bootstrap/scss/bootstrap";

.productcard {
    @extend .my-4;
    &__img {
        @extend .px-2, .mb-3;
        img {
            @extend .img-fluid;
        }
    }

    &__info {
        @extend .d-flex, .flex-column, .align-items-start;
        &__statistic {
            @extend .d-flex, .justify-content-start;
        }
        &__rating {
            @extend .mx-2, .d-flex;
        }

        &__comment,
        &__itemsold {
            @extend .mx-2;
        }

        &__price {
            font-size: 3em;
            color: red;
        }

        &__specification {
            text-align: left;
            &--key {
                @extend .px-2;
                font-weight: 700;
                font-size: 1em;
                margin-right: 2em;
            }
        }

        &__quantity {
            @extend .d-flex, .align-items-center, .my-2, .px-2;
            div {
                font-weight: 700;
                font-size: 1em;
                margin-right: 2em;
            }
        }

        &__addtocart {
            @extend .align-self-center, .my-3;
            width: 10em;
            height: 4em;
            text-align: center;
        }
    }
}
