.header-container {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}



.header--left__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

.header--left__brand {
    align-self: center;
    color: white;
    min-width: 200px;
}


.header--left__search-bar {
    align-self: center;
}


.header--searchIcon {
    font-size: 30px;
    align-self: center;
    
}

.header--cart {
    display: flex;
    align-self: center;
    font-size: 60px;
    margin-left: 30px;

}

.header--left__search-bar > input {
    max-width: 800px;
}

.header--right__items {
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.header--right__items > * {
    align-self: center;
    margin-right: 2rem;
    color: black;
    font-weight: 700;
}